body {
    background-color: #333;
    color: #fff;
    font-family: "Nanum Myeongjo", serif;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 50px 20px;
}

.container {
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.highlight {
    color: rgb(210, 205, 193);
}

.small {
    font-size: 20px;
    color: grey;
}

.start-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #d9b89c;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
    font-weight: bold;
}

.details-link {
    color: #d9b89c;
    text-decoration: underline;
}
