<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <title>당신은 어떤 사람인가요?</title>
</head>
<body>
    <div class="container">
        <h1>
            당신은<br>
            <span class="highlight">어떤 사람</span>인가요?
        </h1>
        <p class="small">당신의 현재 심리적으로 안정되어 있나요?</p>
        <a href="{{ url_for('info') }}" class="start-button">시작하기</a>
    </div>
</body>
</html>
