<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정보 입력</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>정보 입력</h1>
        <form method="POST" action="{{ url_for('info') }}" onsubmit="this.submitButton.disabled = true;"> 
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control name-input", autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.birth_year.label }}
                {{ form.birth_year(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.gender.label }}
                {{ form.gender(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class='btn') }}
            </div>
        </form>
        
        <br>
        <div class="admin-button">
            <a href="{{ url_for('login') }}">
                <button type="button" class="btn small">관리자 페이지</button>
            </a>
        </div>
    </div>
</body>
</html>
